// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



/* header and container  */

.welcome-main-section {
  overflow: hidden;
  margin-bottom: 53px;
  height: calc(100vh - 176px);
}


.custom-nav-dark {
  background-color: black !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold !important;
}

.welcome-header {
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 34px;
}

.welcome-image {
  padding: 0px !important;
  margin-top: 12.6%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 550px;
  margin-bottom: 11%;

}

.home-btn {
  background-color: black !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  padding: 13px !important;
}

.mt-120 {
  margin-top: -150px !important;
}

.m-20 {
  margin: 20px;
}

.font-size {
  font-size: 17px;
}

// .welcome-sub-section{
//   height: calc(100vh - 176px);
// }


/* footer css */
.footer-background {
  background-color: black;
}

.footer-font-size {
  font-size: 1.8rem;
}


/* media query */

@media screen and (min-width: 1400px) {
  .admin-cars-heading {
    margin-left: 500px !important;
  }
}

@media screen and (max-width: 786px) {
  .welcome-header {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
  }

  .welcome-image {
    margin-top: 50px;
    height: 300px;
    width: 300px;
  }

  .home-btn {
    font-size: 15px !important;
    line-height: 20px !important;
    padding: 7px !important;
  }
}

@media screen and (max-width: 768px) {
  .welcome-header {
    font-size: 20px;
    line-height: 18px;
    font-weight: 700;
  }

  .welcome-image {
    height: 250px;
    width: 300px;
  }

  .home-btn {
    font-size: 15px !important;
    line-height: 12px !important;
    padding: 4px !important;
  }

  .location-page {
    height: 86vh !important;
  }

  .payment-container {
    width: 450px !important;
  }

  .payment-btn {
    width: 450px !important;
  }

  .btn {
    font-size: .7rem !important;
  }
}

@media screen and (max-width: 690px) {
  .ml-230 {
    margin-left: 80px !important;
  }

  .car-img {
    height: 70px !important;
  }

  .star-img {
    width: 14px !important;
  }

  .car-icon-img {
    width: 14px !important;
  }

  .car-h1 {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.16px;
    line-height: 1;
  }

  .success-card {
    box-shadow: none !important;
  }
}

@media screen and (max-width: 518px) {
  .welcome-header {
    font-size: 20px;
  }

  .welcome-image {
    height: 200px;
    width: 250px;
  }

  .ml-230 {
    margin-left: 20px !important;
  }

  .car-h1 {
    font-size: 14px !important;
  }

  .car-img {
    height: 60px !important;
  }
}

@media screen and (max-width: 476px) {
  .welcome-header {
    font-size: 18px;
  }

  .welcome-image {
    height: 170px;
    width: 220px;
  }

  .home-btn {
    font-size: 12px !important;
    line-height: 8px !important;
    padding: 2px !important;
  }

  .price-bar {
    font-size: 14px !important;
    padding-right: 60px !important;
  }

  .payment-container {
    width: 350px !important;
  }

  .payment-btn {
    width: 250px !important;
  }
}

@media screen and (max-width: 427px) {
  .welcome-header {
    font-size: 15px;
  }

  .welcome-image {
    height: 170px;
    width: 180px;
  }

  .home-btn {
    line-height: 6px !important;
    padding: 1px !important;
  }

  .payment-container {
    width: 300px !important;
  }
}

@media screen and (max-width: 352px) {

  .welcome-header {
    font-size: 15px;
    line-height: 5px;
  }

  .home-btn {
    font-size: 19px !important;
    line-height: 4px !important;
  }

  .book-ride {
    margin-top: 20px;
    margin-right: 5px;
  }

  .payment-container {
    width: 300px !important;
  }
}